@import "tailwindcss";

:root {
    --scrollbar: #655e5e;
    --scrollbar-hover: #898989;
    --box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    --scrollbar-thumb: #9f9f9f;
    --scrollbar-track: #2c2c2c;
    --scrollbar-hover: #838383;
    --nav-bottom: rgba(0,0,0,0.8);
    --nav-bottom-blur: 15px;
}

* {
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track);
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

#menu-mob.active {
    display: flex;
}

.carrossel-musics,
.carrossel-artists {
    scrollbar-width: none;
}







.footer {
    background: linear-gradient(90deg,#A6339F 0%, #7F61C5 50%, #5A8DEE 100%);
}

.chevron-left-musics,
.chevron-right-musics {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chevron-left-musics {
    position: absolute;
    top: 50%;
    left: -25px;
}

.chevron-right-musics {
    position: absolute;
    top: 50%;
    right: -25px;
}

.chevron-left-artists,
.chevron-right-artists {
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.chevron-left-artists {
    position: absolute;
    top: 50%;
    left: -25px;
}

.chevron-right-artists {
    position: absolute;
    top: 50%;
    right: -25px;
}

.chevron-left-musics:hover,
.chevron-right-musics:hover,
.chevron-left-artists:hover,
.chevron-right-artists:hover {
    background-color: var(--hover-chevron);
}



.music-card, .artist-card {
    padding: .5rem;
    border-radius: .5rem;
    transition: background 300ms ease-in-out;
}

.music-card:hover, .artist-card:hover {
    background-color: var(--hover-chevron);
}






.track-musics {
    animation: scrollMusics 25s linear infinite;
}

.track-artists {
    animation: scrollArtists 25s linear infinite;
}

.container-musics,
.container-artists {
    min-width: 650px;
    padding: .5rem;
    border-radius: .5rem;
}

.musics,
.artists {
    display: flex;
    flex-direction: column;
    min-width: 10em;
    width: 10em;
    flex-wrap: wrap;
    border-radius: .3rem;
    box-shadow: var(--box-shadow);
    overflow: hidden;
}

@keyframes scrollMusics {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(var(--distance));
    }
}

@keyframes scrollArtists {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(var(--distance));
    }
}

.nav-bottom {
    background-color: var(--nav-bottom);
    backdrop-filter: var(--nav-bottom-blur);
}