@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu-mob.active {
    display: flex;
}

 .container-two::-webkit-scrollbar {
    width: 1px;
}

.carrossel-musics,
.carrossel-artists {
    display: flex;
    gap: .5rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.musics {
    display: flex;
    flex-direction: column;
    min-width: 10em;
    border-radius: .3rem;
    transition: background 300ms ease;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.container-music {
    padding: .5rem;
    border-radius: .5rem;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}

.container-music:hover {
    background-color: #1F1F1F;
}

.artists {
    border-radius: 50%;
}

.footer {
    background: linear-gradient(90deg,#A6339F 0%, #7F61C5 50%, #5A8DEE 100%);
}

.chevron-left-musics {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: -10px;
    border-radius: 50%;
    background-color: #333333;
    transition: background 200ms ease-in-out;
    cursor: pointer;
}

.chevron-right-musics {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 5px;
    border-radius: 50%;
    background-color: #333333;
    transition: background 200ms ease-in-out;
    cursor: pointer;
}

.chevron-left-artists {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: -10px;
    border-radius: 50%;
    background-color: #333333;
    transition: background 200ms ease-in-out;
    cursor: pointer;
}

.chevron-right-artists {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    right: 5px;
    border-radius: 50%;
    background-color: #333333;
    transition: background 200ms ease-in-out;
    cursor: pointer;
}

.chevron-left-musics:hover,
.chevron-right-musics:hover,
.chevron-left-artists:hover,
.chevron-right-artists:hover {
    background-color: #444444;
}

.container-artists {
    min-width: 10em;
    padding: .5rem;
    border-radius: .5rem;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}

.container-artists:hover {
    background-color: #444444;
}