@import "tailwindcss";

:root {
    --scrollbar: #655e5e;
    --scrollbar-hover: #898989;
    --box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    --bg-chevron: #333333;
    --hover-chevron: #444444;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#menu-mob.active {
    display: flex;
}

.nav-top::-webkit-scrollbar {
    width: 10px;
}

.nav-top::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar);
}

.nav-top::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-hover);
}

.container-two::-webkit-scrollbar {
    width: 1px;
}

.carrossel-musics,
.carrossel-artists {
    scrollbar-width: none;
}

.musics {
    display: flex;
    flex-direction: column;
    min-width: 10em;
    border-radius: .3rem;
    transition: background 300ms ease;
    box-shadow: var(--box-shadow);
}

.container-music {
    padding: .5rem;
    border-radius: .5rem;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}

.container-music:hover {
    background-color: #1F1F1F;
}

.artists {
    border-radius: 50%;
}

.footer {
    background: linear-gradient(90deg,#A6339F 0%, #7F61C5 50%, #5A8DEE 100%);
}

.chevron-left-musics,
.chevron-right-musics {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-chevron);
    transition: background 200ms ease-in-out;
    cursor: pointer;
}

.chevron-left-musics {
    position: absolute;
    top: 50%;
    left: -10px;
}

.chevron-right-musics {
    position: absolute;
    top: 50%;
    right: 5px;
}

.chevron-left-artists,
.chevron-right-artists {
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--bg-chevron);
    transition: background 200ms ease-in-out;
    cursor: pointer;
}

.chevron-left-artists {
    position: absolute;
    top: 50%;
    left: -10px;
}

.chevron-right-artists {
    position: absolute;
    top: 50%;
    right: 5px;
}

.chevron-left-musics:hover,
.chevron-right-musics:hover,
.chevron-left-artists:hover,
.chevron-right-artists:hover {
    background-color: var(--hover-chevron);
}

.container-artists {
    min-width: 10em;
    padding: .5rem;
    border-radius: .5rem;
    transition: background 300ms ease-in-out;
    cursor: pointer;
}

.container-artists:hover {
    background-color: var(--hover-chevron);
}