@import "tailwindcss";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container::-webkit-scrollbar {
    display: none;
}

.musics {
    height: 10em;
    width: 10em;
    border-radius: .3rem;
    transition: background 300ms ease;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.musics:hover {
    background-color: red;
}

.artists {
    height: 10em;
    width: 10em;
    border-radius: 50%;
}